<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Writterrr</title>
  <a href="/">Go Back to All Posts</a>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Edit Post</h1>

    <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
        <%- include('form') %>
    </form>
  </div>
  <footer>Copyright 2022 Writterrr</footer>

</body>
</html>